body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #1e1e2f;
  color: #d0eff5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
}

.form-box {
  background: #2c2c3e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  text-align: center;
}

.form-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}

.form-box #login-button {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  background: #4e9af1;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.form-box a {
  color: #a1a0a0;
  font-size: 0.9em;
  text-decoration: none;
}
.form-box a:hover {
  color: #e9e6e6;
  transition: 0.5s;
}

.form-box input:focus {
  outline: none;
  box-shadow: 0 0 8px #4e9af1;
  background-color: #2c2c3e;
  color: #fff;
}

.form-box #login-form:hover {
  background-color: #89b7ec;
}

.form-box h2 {
  color: whitesmoke;
}
